# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
dist/
.next/
out/
build/
.vercel
*.log

# Databases
data/*.db
data/*.sqlite
data/*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
